
.mainPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 auto;
    flex-direction: column
}

.panelTitle {
    font-weight: 500;
    font-Size: 24px;
    margin-bottom: 12px
}

.panelGrid {
    display: grid
}

.menuItem {
    color: #bbb;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.menuItem:hover {
    color: '#999';
    text-decoration: underline;
}

.menuItemName {
    margin-left: 8px;
    color: #aaa;
}

.menuItemName:hover {
        color: '#666'
}


.menu-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    width: 560px;
    height: 600px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}


